html{
    font-size: 10px;
}

$font-size-base : 1.6rem;

//override boostrap variables

$grid-gutter-width: 12px;
$grey-900: #1E1E1E;
$primary: #1A77CD;

$font-weight-midium:500;
$navbar-light-color:                $grey-900;
$navbar-light-hover-color:          $primary;
$navbar-light-active-color:         $primary;